RewriteEngine on

ErrorDocument 404 /404.html

# redirect html pages to the root domain
RewriteRule ^index\.html$ / [NC,R,L]

RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]