#form {
    display: flex;
    flex-direction: column;

    div.active .field-label {
        transform: translate(7.5px, 0) scale(0.75);
        color: #666666;
    }
}

.form-field {
    margin-bottom: 20px;
}

.field-label {
    font-family: "Open Sans", sans-serif;
    color: #333333;
    font-size: 18px;
    letter-spacing: 0.2px;
    line-height: 30px;
    position: absolute;

    transform-origin: top left;

    transform: translate(0, 13px) scale(1);

    transition: all .1s ease-in-out;
    padding: 0 20px;
    z-index: 0 !important;
    pointer-events: none;
}

