.slideshow {
    width: 100%;
    margin:auto;
    position: relative;
}

.mySlide, .mySlideMain, .mySlideModal {
    display:none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top:40%;
    width:auto;
    padding:5px;
    color: white;
    font-weight: bold;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text-slideshow {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.8);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.column {
    float: left;
    width: 25%;
  }

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

.modalContent {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 50%;
  }

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.active,
.demo:hover {
  opacity: 1;
}