// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
* {
  -webkit-transition: all 0.5s;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: none;
  }
}

img {
  width: 100%;
  height: auto;
}

hr {
  margin: 20px 0px;
  border-color: $orange;
}

.main {

  ul {
    padding-left: 0px;
    list-style: none;

    li {
      line-height: 30px;
      margin-bottom: 5px;
    }
  }

  ul li::before {
    content: "";
    display: inline-block;
    width: 9px;
    height: 9px;
    border: 0.5px solid $orange;
    border-radius: 40%;
    margin-right: 16px;
    background-color: $orange;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="text"],
select {
  border: none;
  font-family: "Open Sans", sans-serif;
  color: #333333;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 30px;
  width: 100%;
  height: 56px;
  background-color: #FFFFFF;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  padding: 13px 20px 0px 20px !important;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 2px solid $orange;
}

input[type="submit"] {
  margin-left: auto;
  width: auto;
  text-align: center;
  height: 45px;
  min-width: 90px;
  border-radius: 4px;
  background-color: $orange;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  border: none;
  color: #333333;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: bold !important;
  letter-spacing: 1.4px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  transition: all 255ms cubic-bezier(0.29, 0.19, 0.405, 1);

  &:hover {
    box-shadow: $shadow-pro-max;
    cursor: pointer;
  }
}

@include media('<=medium') {

  input[type="submit"] {
    width: 100%;
    height: 55px;
  }

}