// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  display: flex;
  background-image: linear-gradient(90deg, #eb7070, #fec771);
  padding: 0 20px;
  font-size: 70%
}

.contact-footer {
  display:flex;
  justify-content: left;
  flex-direction: column;
}

.copyright-footer {
  display:flex;
  justify-content: right;
  flex-direction: column;
  margin-left:auto;
}