// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  display: flex;
  background-image: linear-gradient(90deg, #eb7070, #fec771);
  padding: 0 20px;
  font-size: 70%;

  p {
    color: #fff;
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
  }
}

.contact-footer {
  display:flex;
  align-items: center;
  flex-direction: column;
}

.copyright-footer {
  display:flex;
  align-items: center;
  margin-left:auto;
}

@include media("<=medium") {

  .footer {
    display: block;
  }

  .contact-footer {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
  }

  .copyright-footer {
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    display: inherit;
  }
}
