// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  display: flex;
  background-image: linear-gradient(90deg, #eb7070, #fec771);
  padding: 10px 20px;
  font-size: 70%;
  justify-content: space-between;

  p, a {
    color: #fff;
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
    font-size: 16px;
  }
}

.contact-footer {
  display:flex;
  flex-direction: column;
}
.countdown-footer {
  display: flex;
  align-items: center;
}

.copyright-footer {
  display:flex;
  align-items: center;
}

@include media (">large") {
  .footer {
    border-radius: 4px;
  }
}

@include media("<=medium") {

  .footer {
    flex-direction: column;
  }

  .contact-footer {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
  }
  .countdown-footer {
    text-align: center;
    justify-content: center;
  }

  .copyright-footer {
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    display: inherit;

    p {
      font-size: 12px;
    }
  }
}
