// This file is for defining the grid properties
.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 20px;
  margin: 0 auto;
  max-width: 1360px;
}


.wrapper > * {
  grid-column: col-start / span 12;
}

.main {
  padding: 15px;
}
.side {
  background-color: #F7F9F9;
  box-shadow: $shadow;
  margin-right: 15px;
  padding: 15px 0 15px 15px;
}



@include media(">medium", "<=large") {
  .section {
    display: none;
  }
  .main {
    grid-column: col-start / span 7;
    grid-row: 3 / 5;
  }

  .side {
    grid-column: col-start 8 / span 5;
    grid-row: 3 / 5;
    background-color: #F7F9F9;
  }
}

@include media(">large") {

  .section {
    grid-column: col-start / span 3;
    grid-row: 3 / 5;
    padding:15px;
    background-color: #F7F9F9;
  }

  .main {
    grid-column: col-start 4 / span 6;
    grid-row: 3 / 5;
  }

  .side {
    grid-column: col-start 10 / span 3;
    grid-row: 3 / 5;
  }
}
