// This file is for defining the grid properties
.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 20px;
  margin: 0 auto;
  max-width: 1360px;
}


.wrapper > * {
  grid-column: col-start / span 12;
}

@include media(">medium", "<=large") {
  .main {
    grid-column: col-start / span 7;
    grid-row: 3 / 5;
  }

  .side {
    grid-column: col-start 7 / span 5;
    grid-row: 3 / 5;
  }
}

@include media(">large") {

  .section {
    grid-column: col-start / span 3;
    grid-row: 3 / 5;
    padding:5px;
  }

  .main {
    grid-column: col-start 4 / span 6;
    grid-row: 3 / 5;
  }

  .side {
    grid-column: col-start 10 / span 3;
    grid-row: 3 / 5;
  }
}
