// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  height: 400px;
  display: flex;
  background-color: #eb7070;
}

.brand-title {
  font-family: 'Vibes', cursive;
  font-size: 3rem;
  color: $orange;
  font-weight: bold;
}