// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  height: 400px;
  display: flex;
  background-image: linear-gradient(90deg, $red 0%, $orange  100%);
}

.header-text{
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header-text h1 {
    text-align: center;
    font-size: 200%;
    color:white;
    font-family: 'Helvetica', 'Arial', sans-serif;
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

.header-text h2 {
    text-align: center;
    color:white;
    font-family: 'Helvetica', 'Arial', sans-serif;
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

.header-logo {
  display: flex;
  height: 100%;
  width: 15%;
  align-items: center;
}

.logo {
  display: block;
  width:100%;
  margin-left:auto;
  margin-right:auto;
}

.brand-title {
  font-family: 'Vibes', cursive;
  font-size: 3rem;
  color: $orange;
  font-weight: bold;
}

