// -----------------------------------------------------------------------------
// This file contains all styles related to the navigation of the site/application.
// -----------------------------------------------------------------------------
.nav {
  display: flex;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  height: 75px;
  background-color: #ffffff;
  align-items: center;
  padding: 0 20px;
  margin-bottom: -20px;
  z-index: 20;
  box-shadow: 0 4px 6px -6px black;

  .empty {
    display: none;
  }

  .hamburger {
    display: none;
    appearance: none;
    border: none;
    background: url(../img/menu-dark.svg) no-repeat;
    background-size: 36px;
    height: 36px;
    width: 36px;
    padding: 0px;
    outline: none;

    &:focus,
    &:active {
      outline: 2px solid $orange;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .brand-container {

    margin-right: auto;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .link-container {
    margin-right: 0px;
    height: 100%;
    display: flex;
    align-items: center;

    .menu {
      list-style: none;
      display: flex;
    }
  }
}

@include media("<=large") {

  .nav {
    .empty {
      display: block;
      width: 36px;
      height: 36px;
    }

    .brand-container {
      margin: 0 auto;
    }

    .hamburger {
      display: block;
      transform: rotateY(180deg);

      &.open {
        background: url(../img/menu-open-dark.svg) no-repeat;
        background-size: 36px;
        transform: rotateY(180deg);
      }
    }

    .link-container {
      display: none;
      position: fixed;
      right: 0;
      width: 100%;
      top: 75px;
      height: auto;
      background-color: #fafafa;
      box-shadow: 0 4px 6px -6px black;
      transition: none;

      .menu {
        display: block;
        padding: 10px 20px;

        li {
          padding: 5px 0px;

          li {
            padding: 3px 0px;
          }
        }

        >li>a {
          font-weight: 600;
          letter-spacing: 2px;
          line-height: 32px;
          display: inline-block;

          &:after {
            content: "";
            display: block;
            border-bottom: 1.5px solid $orange;
            transform: scaleX(0);
            transition: $sexy;
          }

          &:hover:after {
            transform: scaleX(1);
          }
        }

        >li>ul a {
          font-weight: 400;
          letter-spacing: 1px;
          line-height: 24px;
        }

        li ul {
          padding: 0 20px;
        }
      }



      ul,
      li {
        list-style: none;
      }
    }
  }
}

@include media(">large") {

  .nav {
    border-radius: 4px;
  }

  .menu>li {
    align-items: center;
    margin-left: 20px;
    position: relative;

    >ul {
      position: absolute;
      display: block;
      background-color: #fafafa;
      list-style: none;
      box-shadow: $shadow;
      top: -9999px;
      left: -9999px;
      padding: 0;
      width: 100%;
    }

    &:hover>ul {
      top: unset;
      left: unset;
      // padding: 10px 15px;
    }

    ul li {
      margin-left: 0px;

      &:not(:last-child) {
        border-bottom: 0.5px solid #CDCDCD;
      }

      >a {
        position: relative;
        z-index: 500;
        display: block;
        line-height: 19px;
        padding: 15px 15px;
      }

      ul {
        padding-left: 0;
        list-style: none;
        position: absolute;
        top: -9999px;
        left: -9999px;
        background-color: #fafafa;
      }

      &:hover ul {
        left: 100% !important;
        top: 0 !important;
      }
    }

    .menu>li>a:only-child {

      color: $text-color;

      &:after {
        content: "";
        display: block;
        border-bottom: 2px solid $orange;
        transform: scaleX(0);
        transition: $sexy;
      }


      &:hover {
        text-decoration: none;
        color: $red;

        &:after {
          transform: scaleX(1);
        }
      }
    }
  }


  /* first dropdown border effect */
  .dropdown-container::after,
  .dropdown-container::before {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .dropdown-container {
    transition: color 0.25s;
  }

  .menu li .dropdown-container::before,
  .menu li .dropdown-container::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
  }

  .menu li .dropdown-container::before {
    top: 0;
    left: 0;
  }

  .menu li .dropdown-container::after {
    bottom: 0;
    right: 0;
  }

  .menu li:hover .dropdown-container::before,
  .menu li:hover .dropdown-container::after {
    width: 100%;
    height: 100%;
  }

  .menu li:hover .dropdown-container::before {
    border-top-color: $orange;
    border-right-color: $orange;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  }

  .menu li:hover .dropdown-container::after {
    border-bottom-color: $orange;
    border-left-color: $orange;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  }

  /* END OF FIRST BORDER EFFECT */

  /* SECOND UL EFFECT */

  .dropdown-container li ul::after,
  .dropdown-container li ul::before {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .dropdown-container li ul {
    transition: color 0.25s;
  }

  .dropdown-container li ul::before,
  .dropdown-container li ul::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
  }

  .dropdown-container li ul::before {
    top: 0;
    left: 0;
  }

  .dropdown-container li ul::after {
    bottom: 0;
    right: 0;
  }

  .dropdown-container li:hover ul::before,
  .dropdown-container li:hover ul::after {
    width: 100%;
    height: 100%;
  }

  .dropdown-container li:hover ul::before {
    border-top-color: $orange;
    border-right-color: $orange;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  }

  .dropdown-container li:hover ul::after {
    border-bottom-color: $orange;
    border-left-color: $orange;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  }
}

.menu a {

  color: $text-color;

  &:hover {
    text-decoration: none;
    color: $red;
  }
}