@charset 'UTF-8';

// 1. Configuration and helpers
@import 'abstracts/variables',
'abstracts/functions',
'abstracts/mixins';

// 2. Vendors
@import 'vendors/normalize';
@import 'vendors/include-media';
@import 'vendors/hamburgers/hamburgers.scss';

// 3. Base stuff
@import 'base/base',
'base/fonts',
'base/typography',
'base/helpers';

// 4. Layout-related sections
@import 'layout/header',
'layout/footer', 
'layout/grid',
'layout/navigation',
'layout/login';

// 5. Components
@import 'components/button',
'components/form', 'components/slideshow', 'components/video';

// 6. Page-specific styles
@import 'pages/home', 'pages/404';

// 7. Themes
@import 'themes/default';